.Ticket_style_parent {
    width: 100%;
    height: 373px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.My_Ticket_Micro_Details {
    width: 100%;
    height: 373px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid #FFF;
    background-image: url("../../../public/images/TicketStylesSubtract.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.Ticket_styles_Micro_Detais_Parent {
    width: 100%;
    padding: 18px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Ticket_styles_Micro_Detais_heading p {
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.My_Ticket_Micro_Detais_Qr_code_timings {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.My_Ticket_Date_Timings {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.My_Ticket_Date {
    color: #FFF;
    font-size: 1rem;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.My_Ticket_Timings {
    color: #969696;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.img_line img {
    width: 100%;
    text-align: center;
}

.My_Ticket_Booking_Id_Place {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.My_Ticket_Font_Styles1 {
    color: #B0B0B0;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.My_Ticket_Font_Styles2 {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}